#form-container
{
    width: 250px;
    height: 300px;
    margin-left: 445px;
    margin-top: 80px;
}

.form-control
{
    width: 75%;
    margin-left: 25.25px;
}

.form-label
{
    margin-left: 25.25px;
}

button
{
    margin-left: 48.79px;
}

