<page [title]="titlePage">
    <div id="form-container">

        <label class="form-label mt-2" for="destinatarioInput">Destinatário:</label>
        <select class="form-control mb-3" disabled id="destinatarioInput">
            <!-- TO DO -->
        </select>

        <label class="form-label ms-38" for="inicialInput">Valor Inicial:</label>
        <input id="inicialInput" class="form-control mb-3" type="number" [(ngModel)]="valorInicial">

        <label class="form-label ms-38" for="finalInput">Valor Final:</label>
        <input id="finalInput" class="form-control mb-3" type="number" [(ngModel)]="valorFinal">

        <label class="form-label ms-38" for="dataInput">Data:</label>
        <input id="dataInput" class="form-control mb-3" type="date" [(ngModel)]="data">

        <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
    </div>
</page>
