<div id="side-container" class="bg-primary bg-gradient h-100">
    <div id="logo">
        <img src="../../../../assets/ms-icon-70x70.png" alt="User image" class="rounded-image mt-2" height="50px">
        <span class="ms-2 text-light fw-bold">PagSystem</span>
    </div>
    <div id="menu" class="mt-2">
        <div id="container-dashboards" routerLink="/dashboards">
            <img src="../../../../assets/dashboard2.png" alt="dashboard icon"><span id="dashboards">Dashboards</span>
            <br>
        </div>
        <div id="container-solicitacoes" routerLink="/cobrar">
            <img src="../../../../assets/solicitacoes.png" alt="solicitacoes icon"><span id="cobrar">Solicitações</span>
        </div>
        <div id="container-solicitar" routerLink="/solicitar">
            <img src="../../../../assets/request2.png" alt="solicitar icon"><span id="solicitar">Solicitar Pagamento</span>
            <br>
        </div>
        <div id="container-cobrar" routerLink="/cobrar">
            <img src="../../../../assets/charge2.png" alt="cobrar icon"><span id="cobrar">Cobrar Pagamento</span>
        </div>
    </div>
</div>
