#side-container
{
    width: 210px;
    margin-top: -75px;
}

#logo
{
    cursor: pointer;
}

span
{
    font-family: 'Lato', sans-serif;
}

#container-dashboards,
#container-solicitar,
#container-cobrar
{
    margin: 20px 0px 3px 0px;
}

#dashboards
{
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    padding: 3px 0px 3px 10px;
    font-weight: 500;
}

#solicitar
{
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    margin: 20px 0px 3px 0px;
    padding: 3px 0px 3px 10px;
    font-weight: 500;
}

#cobrar
{
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    margin: 20px 0px 3px 0px;
    padding: 3px 0px 3px 10px;
    font-weight: 500;
}



